<div class="container-fluid">
  <header class="bg-light py-3 mb-4 header">
    <h1 class="text-center">Donkey Story</h1>
  </header>
  <div class="row">
    <div class="col-md-4">
      <app-create-donkey></app-create-donkey>
    </div>
    <div class="col-md-1">
      <div class="vertical-line"></div>
    </div>
    <div class="col-md-4">
      <app-list-donkey></app-list-donkey>
    </div>
    <div class="col-md-1">
      <div class="vertical-line"></div>
    </div>
    <div class="col-md-2">
      <app-user-donkey></app-user-donkey>
    </div>
  </div>
</div>
