.card {
  margin: 20px auto;
  width: 100%;
  max-width: 400px;
}
.img-thumbnail {
  max-width: 100px;
  cursor: pointer;
}
.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border: none;
  transition: background-color 0.3s;
}
.list-group-item:hover {
  background-color: #f0f0f0;
}
